@using CoreLibrary;
@model List<Beehive>

<h2>Создание отводков</h2>

<br>

<div class="row">
    @foreach (var beehive in Model)
    {
        if (beehive.FiledFrames >= 12)
        {
            <div class="col-md-4 mb-5">
                <div class="card text-center h-100">
                    <div class="card-header bg-transparent border-0">
                        <h2 class="card-title text-center">
                            <a>@beehive.Name</a>
                        </h2>
                        <p class="font-weight-normal">@beehive.Description</p>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="@beehive.Image" />
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-controller="Paseka"
                           asp-action="AddOffshoot" asp-route-id="@beehive.Id"
                           role="button">
                            Выбрать
                        </a>

                    </div>
                </div>
            </div> 
        }
    }
</div>

<div>
    <a asp-action="Index">Вернуться к пасеке</a>
</div>